*
{
    box-sizing: border-box;
}
:root
{
    --primary: #2083F8;
    --sliderHeight: 650px;
    --text: #5d5858; 
    --iconColor: #8D8D8D;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.header-top
{
    height: 4vh;
    background-color: #2083F8;
}
/*--------------------MENU------------------*/
.menu>.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .wrapper img
{
    width: 20em;
}
.menu .wrapper .nav-bar 
{
    width: 22em;
}
.menu .wrapper .nav-bar ul
{
    display: flex;
    justify-content: space-between;
}
.menu .wrapper .nav-bar li
{
    list-style: none;
}
.menu .wrapper .nav-bar li a
{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: rgba(0,0,0,.55);
}
#hamburger-icon
{
    display: none;
    cursor: pointer;
}
#hamburger
{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#hamburger ul li
{
    list-style: none;
    width: 100%;
    display: block;
}
/*---------------SLIDER-------------*/

main .slider
{
    position: relative;
    overflow: hidden;
}
.sliderContainer
{
    width: 99999px;
    height: var(--sliderHeight);
    transition: transform 1s;
    background-color: #ddd;
}
.slide
{
    width: 100vw;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.slide h1
{
    font-size: 3em;
}
#slidePrev, #slideNext
{
    position: absolute;
    color: white;
    font-size: 2.3em;
    top: calc(var(--sliderHeight) / 2);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#slidePrev
{
    left: 3vw;
}
#slideNext
{
    right: 3vw;
}


/*---------------SERVICES-------------*/
.services
{
    margin: 8em 0;
}
.services>.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
.container-text
{
    text-align: center;
}
.headline
{
    font-size: 4.5em;
    font-weight: 200;
    padding: 0;
    margin: 10px 0;
    color: var(--text);
}
.sub-text
{
    width: 500px;
    margin: 0 auto;
    color: var(--text);
    margin-bottom: 30px;
}
.services-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-content>.content-card
{
    width: 300px;
    text-align: center;
    margin-top: 40px;
    padding: 10px 10px;
}

.middle
{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 4px;
}
.content-card .card-images>img
{
    height: 80px;
}
.content-card .card-images>h3
{
    color: var(--text);
}

/*----------------TEAM-------------------*/
.team
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.team .wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
.profile
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.team-card
{
    width: 33.3333%;
    padding: 15px;
}
.team-card .profilephoto 
{
    text-align: center;
    border-bottom: 1px solid #706f6f2a;
    padding-bottom: 10px;
}
.team-card .profilephoto>img
{
    height: 80px;
    border-radius: 50%;
}
.jobTitle, .definitionJob
{
    color: var(--text);
}
.team-card>.team-text
{
    text-align: center;
    margin-top: 10px;
    color: var(--text);
}
.team-card .links
{
    text-align: center;
    margin: 30px 0 10px 0;
}
.team-card .links a img
{
    height: 18px;
}

/*---------------ABOUT US--------------------*/
.aboutUs
{
    margin-top: 100px;
    margin-bottom: 50px;
}
.aboutUs .wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.aboutUs-text
{
    text-align: center;
    color: var(--text);
}
.aboutUs-text h1
{
    font-size: 2em;
}

/*--------------CAROUSEL---------------*/

.carousel .wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
.gallery
{
    text-align: center;
}
.gallery .photos
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.photos .column1
{
    padding-top: 1.3em;
}
.photos .column2
{
    padding-bottom: 1.3em;
}
.photos .column1 .column1-first, .photos .column1 .column1-second
{
    width: 230px;
    height: 600px;
    background-position: center;
    background-size: cover;
}
.photos .column1 .column1-first
{
    margin-bottom: 80px;
}
.photos .column2 .column2-first, .photos .column2 .column2-second, .photos .column2 .column2-third
{
    width: 230px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.photos .column2 .column2-first, .photos .column2 .column2-second
{
    margin-bottom: 40px;
}


/* -----------CONTACT--------------*/
.contact
{
    
}
.contact .wrapper
{
    margin: 0 auto;
    max-width: 1000px;
}
.contact .wrapper .container
{
    width: 100%;
    height: 420px;
    border-radius: 12px;
    background-color: #EBEEF0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.contact .wrapper .info, .contact .wrapper .form
{
    width: 50%;
    padding: 20px;
}
.contact .wrapper .form
{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
}
.contact .wrapper .form input
{
    padding: 15px 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 4px;
}
#message
{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 15px 10px;
    border-radius: 3px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#message::placeholder
{
    font-size: 16px;
}
#btn-submit
{
    padding: 15px 12px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: bold;
}
#btn-submit:hover
{
    background-color: black;
    color: white;
}
#btn-submit
{
    transition: all ease 0.4s;
}
footer .wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
footer .wrapper .footer
{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
#backtotop
{
    text-decoration: underline;
    position: absolute;
    bottom: -1vh;
    right: 0;
    cursor: pointer;
}
/*----------RESPONSIVE DESIGN----------*/
@media (max-width: 992px)
{
    .wrapper
    {
        max-width: 800px !important;
    }
    .services-content .content-card
    {
        width: 250px;
    }
    .column1 .column1-first, .column1 .column1-second
    {
        width: 200px !important;
    }
    .column2 .column2-first, .column2 .column2-second, .column2 .column2-third
    {
        width: 200px !important;
    }
}
@media (max-width: 768px)
{
    .wrapper
    {
        max-width: 650px !important;
    }
    .services-content .content-card
    {
        width: 200px;
    }
    .gallery .photos
    {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .column1 .column1-first, .column1 .column1-second
    {
        width: 250px !important;
    }
    .column2 .column2-first, .column2 .column2-second, .column2 .column2-third
    {
        width: 250px !important;
    }
}
@media  (max-width: 480px)
{
    .wrapper
    {
        max-width: 400px !important;
    }
    .sub-text
    {
        width: 380px;
    }
    .headline
    {
        font-size: 3.5em;
    }
    .menu>.wrapper
    {
        position: relative;
        overflow: hidden;
    }
    .nav-bar
    {
        display: none;
    }
    #hamburger-icon
    {
        display: block;
    }
    #slidePrev, #slideNext
    {
        font-size: 1.7em;
    }
    .services-content
    {
        justify-content: center !important;
    }
    .services-content .content-card
    {
        width: 250px;
    }
    .profile .team-card
    {
        width: 100%;
    }
    .contact .wrapper .container
    {
        height: auto;
        margin-bottom: 50px;
    }
    .container .info, .container .form
    {
        width: 100% !important;
    }
    #backtotop
    {
        display: none;
    }
}